{% extends 'blog/base.html' %}

{% block content %}
    <h2>{% if post %}Editar{% else %}Novo{% endif %} Post</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Título:</label>
        <input type="text" name="title" value="{{ post.title|default_if_none:'' }}" required>
        <br>
        <label for="content">Conteúdo:</label>
        <textarea name="content" rows="10" required>{{ post.content|default_if_none:'' }}</textarea>
        <br>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
